<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Presentes</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

    <!-- SETA -->
    <div id="toggleInfo" class="arrow"></div>

    <!-- POPUP INFO -->
    <div id="infoBox" class="info-box hidden">
        <span>
            01/05/2022 - 10:00 horas<br>
            Fascynios Recepções - Geisel<br>
            Ajude os noivos que só querem casar e não atrasem
        </span>
        <br>
        <span>
            <p>Informações:</p>
            As imagens e links abaixo são apenas ilustrativas e os presentes são anônimos entre os convidados<br>
            Caso não aconteça nada ao clicar no presente, alguém já deu.<br>E caso desejem tem como dar presente via pix.
        </span>
        
    </div>

    <!-- LISTA -->
    <div class="container">
        <ul id="listaPresentes">

        </ul>
        <div style="color: white; text-align: center;">
            <img src="static/images/gifts/pix.png" style="max-width: 60%; height: auto;"><br>
            <span>
                Dados Pix:<br>
                Diego Farias Correia - Banco Bradesco<br>
                Chave:<br>
                00020126830014BR.GOV.BCB.PIX0136d67ea55b-5cd0-4f3d-b7d6-17e96fd22b940221Presente de casamento5204000053039865802BR5920DIEGO FARIAS CORREIA6011JOAO PESSOA62070503***6304E2FE
            </span>
        </div>
    </div>

    <!-- POPUP FORM -->
    <div id="formPopup" class="popup">
        <div class="popup-content">
            <h3>Confirmar Presente</h3>
            <input type="text" id="nomeConvidado" placeholder="Nome..." />
            <button onclick="enviarPresente()">Confirmar</button>
            <button onclick="fecharPopup()">Cancelar</button>
        </div>
    </div>

<script src="/static/script.js"></script>
</body>
</html>
